* {
	padding: 0%;
	margin: 0%;
}

html,
body {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #caafbd;
	transition: all 250ms linear;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div {
	display: flex;
}

.phone {
	height: 600px;
	width: 300px;
	background-color: rgb(134, 77, 1);
	border-radius: 2rem;
	flex-direction: column;
	box-shadow: 0 0 30px 10px rgba(#000, 0.3);
	overflow: hidden;

	i {
		color: #fff;
	}

	nav {
		display: flex;
		justify-content: space-around;
		background-color: #181621;

		i {
			margin: 1rem;
			z-index: 4;
			//position: absolute;
		}

		.playing {
			background: linear-gradient(90deg, #caafbd, #c3b9d1);
			box-shadow: 0 0 10px rgba(#caafbd, 0.4);
			z-index: 3;

			img {
				height: 150px;
				width: 150px;
				border-radius: 50%;
			}


		}

		&,
		.expand {
			.playing {
				width: 70%;
				height: 200px;
				justify-content: center;
				align-items: center;

				img {
					animation: rotate 4s ease-in 0s infinite forwards;
				}

				border-bottom-left-radius: 100px;
				border-bottom-right-radius: 100px;
			}
		}

		&:not(.expand) {
			justify-content: space-between;

			//background-color: red;
			.playing {
				width: 300px;
				height: 70px;
				border-radius: 2rem;
				padding: 0;
				position: absolute;

				img {
					width: 50px;
					height: 50px;
				}


			}

		}

	}

	.player {
		flex-direction: column;
		justify-content: center;
		background-color: #181621;

		.controls {
			justify-content: space-evenly;
			margin: 1rem 0px;

			input {
				width: 70%;
				height: 5px;

				&::before,
				&::after {
					content: "00:00";
					color: #fff;
					margin-top: 0.8rem;
					position: absolute;
					font-size: 0.7rem;
				}

				&::after {
					margin-left: 180px;
				}
			}
		}


	}

	hr {
		width: 20%;
		margin-left: 40%;
		margin-bottom: 0.5rem;
		border: none;
		height: 2px;
		border-radius: 1px;
		background-color: rgba(#fff, 0.3);
	}

	.playList {
		height: 100%;
		background-color: #666;
		flex-direction: column;
		justify-content: center;
		z-index: 1;

		.title {
			//margin: auto;
			text-align: center;
			width: 100%;
			//padding: .5rem;
			justify-content: center;
			align-items: center;


			img {
				height: 40px;
				width: 40px;
				min-width: 40px;
				min-height: 40px;
				border-radius: 50%;
				margin-left: 1rem;
			}

			.txt {
				flex-direction: column;
				text-align: left;
				width: 100%;
				margin: 1rem;
				font-size: .7rem;

				p {
					font-size: .5rem;
				}
			}

			i {
				margin-right: 1rem;
			}
		}

		.currentPlay {
			flex-direction: column;
			justify-content: center;
			position: absolute;
			width: 300px;
			margin: auto;
			background: linear-gradient(90deg, #caafbd, #c3b9d1);
			//z-index: 1;

			.dis {
				flex-direction: column;
				align-items: center;
				//padding: 1rem;
				font-size: 0.7rem;

				span {
					margin: .3rem;
					margin-bottom: 1rem;
					//background-color: rgb(217, 213, 255);
					padding: 0;
					border-radius: 25px;
					height: 25px;
					text-overflow: ellipsis;

				}
			}
		}

		.list {
			background-color: #181621;
			border-radius: 2rem;
			border-top-right-radius: 0rem;
			height: calc(300px - 2rem);
			width: 300px;
			margin-top: 4.6rem;
			z-index: 10;
			position: absolute;
			flex-direction: column;

			hr {
				margin-top: 0.3rem;
			}

			.title {
				//border-bottom: 1px solid #000;

				.txt {
					padding: .7rem;
					margin: 0.5rem;
					padding-left: 2rem;
					border-radius: 3rem;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
					text-transform: capitalize;
					color: #fff;

					// background-color: rgba(#fff, 0.3);
					background: linear-gradient(90deg, rgba(#fff, 0.2), rgba(#fff, 0));
				}

			}


		}
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}