$primary-color: linear-gradient(#fc5744, #feaa45);
$primary-2-color: linear-gradient(#fdb24d, #ee6744);
$secondary-color: #4150af;
$tertiary-color: #4ae0df;
$tertiary-color: linear-gradient(#46d9d5, #33d46e);
$dark: #131d25;
$dark-2: #1d242e;
$dark-3: #282f3a;
$dark-4: #58606c;
$bright-3: #9fa6b1;
$bright-2: #e8ecf1;
$bright-1: #fff;
$background: #040f17;

body {
  background-color: $background;
}
