* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.flex-row, .main .content .addTask, .main .content .title, .main, .navbar .left, .navbar {
  display: flex;
  flex-direction: row;
}

.flex-colum, .main .content, .main .sideMenu, body {
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  margin: 1rem;
}

body {
  background-color: #181820;
  width: 100vw;
  font-family: sans-serif;
  color: #fff;
  justify-content: center;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  background-color: #21212b;
  height: 3rem;
}
.navbar .left {
  align-items: center;
}
.navbar .right {
  display: flex;
  flex-direction: row;
}

.main {
  width: auto;
  height: 100%;
  width: 100%;
}
.main .sideMenu {
  height: 100vh;
  width: 20%;
  padding-left: 1rem;
  background-color: #21212b;
}
.main .sideMenu li {
  margin: 0.5rem;
  display: flex;
  align-items: center;
}
.main .button {
  background-color: #fff;
  text-transform: capitalize;
  padding: 1.5rem;
  font-weight: 570;
  font-size: 1.2rem;
  border: none;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  margin-top: 2.5rem;
}
.main .button span {
  display: flex;
  height: 1px;
  width: 1.5rem;
  margin-left: 1rem;
  background-color: #000;
}
.main .button span::after {
  content: "";
  display: flex;
  position: relative;
  left: 0.3rem;
  top: -0.5rem;
  height: 1rem;
  width: 1rem;
  border: 2px #000 solid;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(45deg);
}
.main .content {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.main .content div {
  width: 80%;
}
.main .content .title {
  align-items: center;
}
.main .content hr {
  width: 80%;
  opacity: 0.2;
}
.main .content .addTask {
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
}
.main .content .new {
  padding: 50px;
}
.main .content .form-group {
  display: flex;
  width: 80%;
  margin-bottom: 1rem;
  padding: 1rem;
  background: rgba(24, 24, 32, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.main .content .form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.main .content .form-group label {
  position: relative;
  cursor: pointer;
}
.main .content .form-group label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 1rem;
}
.main .content .form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/*# sourceMappingURL=style.css.map */
