* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-colum {
  display: flex;
  flex-direction: column;
}
li {
  list-style: none;
}
a {
  color: #fff;
  text-decoration: none;
}
.icon {
  height: 1.5rem;
  width: 1.5rem;
  margin: 1rem;
}
body {
  background-color: #181820;
  width: 100vw;
  @extend .flex-colum;
  font-family: sans-serif;
  color: #fff;
  justify-content: center;
}
.navbar {
  @extend .flex-row;
  justify-content: space-between;
  align-items: center;
  background-color: #21212b;
  height: 3rem;

  .left {
    @extend .flex-row;
    align-items: center;
  }
  .right {
    display: flex;
    flex-direction: row;
  }
}

.main {
  @extend .flex-row;
  width: auto;
  height: 100%;
  width: 100%;

  //font-size: clamp(3rem, 50%, 5rem);
  .sideMenu {
    @extend .flex-colum;
    height: 100vh;
    width: 20%;
    padding-left: 1rem;
    background-color: #21212b;
    li {
      margin: 0.5rem;
      display: flex;
      align-items: center;
    }
  }

  .button {
    background-color: #fff;
    text-transform: capitalize;
    padding: 1.5rem;
    font-weight: 570;
    font-size: 1.2rem;
    border: none;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    margin-top: 2.5rem;
    span {
      display: flex;
      height: 1px;
      width: 1.5rem;
      margin-left: 1rem;
      background-color: #000;
      &::after {
        content: "";
        display: flex;
        position: relative;
        left: 0.3rem;
        top: -0.5rem;

        height: 1rem;
        width: 1rem;
        border: 2px #000 solid;
        border-left: 0;
        border-bottom: 0;
        transform: rotate(45deg);
      }
    }
  }
  .content {
    @extend .flex-colum;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    div {
      width: 80%;
    }
    .title {
      @extend .flex-row;
      align-items: center;
    }
    hr {
      width: 80%;
      opacity: 0.2;
    }
    .addTask {
      @extend .flex-row;
      background-color: transparent;
      border: none;
      align-items: center;
      justify-content: flex-start;
      color: #fff;
    }

    .new {
      padding: 50px;
    }

    .form-group {
      display: flex;
      width: 80%;
      margin-bottom: 1rem;
      padding: 1rem;
      background: rgba(24, 24, 32, 0.15);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(16.5px);
      -webkit-backdrop-filter: blur(16.5px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
    }

    .form-group input {
      padding: 0;
      height: initial;
      width: initial;
      margin-bottom: 0;
      display: none;
      cursor: pointer;
    }

    .form-group label {
      position: relative;
      cursor: pointer;
    }

    .form-group label:before {
      content: "";
      -webkit-appearance: none;
      background-color: transparent;
      border: 2px solid #0079bf;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
      padding: 10px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 5px;
      border-radius: 1rem;
    }

    .form-group input:checked + label:after {
      content: "";
      display: block;
      position: absolute;
      top: 2px;
      left: 9px;
      width: 6px;
      height: 14px;
      border: solid #0079bf;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}
